{% extends 'ce\base.html' %}

{% block content %}

<div class="container" style="margin-top: 80px; margin-bottom: 50px">
    <center>
        <img src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/s960x960/58749336_2072042283088104_2352128170955636736_o.jpg?_nc_cat=101&ccb=2&_nc_sid=e3f864&_nc_eui2=AeF5-f6vMib_ZGsbSEBuKVQNjwpomNv_0G-PCmiY2__Qb73Hxu6yuPFlVhlXbQ3cMzKReToawrX_kU--5HB_TxQN&_nc_ohc=nTBkfyF1uVAAX98j-m5&_nc_ht=scontent.fbkk12-1.fna&tp=7&oh=ebcdbdc6039e115915dabe191b8e7f4a&oe=5FC6704B">
    </center>
</div>
<div class="jumbotron text-center">
    <h2>Centre of Excellence in Geotechnical and Geoenvironmental Engineering</h2>
    <p>ศูนย์เชี่ยวชาญเฉพาะทางวิศวกรรมธรณีเทคนิคและธรณีสิ่งแวดล้อม<br></p>
    <p>CHULALONGKORN UNIVERSITY, BANGKOK, THAILAND </p>
    
    <p>Centre of Excellence in Geotechnical and Geoenvironmental Engineering (CEGGE) at Chulalongkorn University was
        started in early 2016. The research activities are in the areas of geotechnical and geoenvironmental engineering
        including constitutive modeling for geomaterial, stress-strain characteristic of soils, numerical analysis in
        geomechanics, pavement engineering, ground improvement, geotechnical earthquake engineering and soil
        bioengineering.
        <br>
        The contribution of academic research to innovative design and construction practices are highlighted. The
        research works are now moving closer to industrial needs by collaborating with the private and non-governmental
        sector in the implementation of innovative research-based solution.

    </p>
    
</div>


{% endblock %}