{% extends 'ce/base.html' %}

{% block content %}
{% load static %}


<center>
    <img src="{% static '/images/cover page3.jpg' %}" style="width:100%;margin-top: 80px">
</center>

<div class="jumbotron text-center">

    <center>

        <h3 style="color: #e47a2e;">Centre of Excellence in Geotechnical and Geoenvironmental Engineering</h3>
        <p>Department of Civil Engineering, Chulalongkorn University </p> &nbsp;&nbsp;

        <div class="row">
            <div class="col-sm-4">
                <img src="{% static '/images/email.svg' %}" alt="" width="40">
                <p style="margin-top: 20px">E-mail: suched.l@chula.ac.th</p>
            </div>
            <div class="col-sm-4">
                <img src="{% static '/images/map.svg' %}" alt="" width="40">
                <p style="margin-top: 20px">254 Henri Dunant Rd, Pathum Wan, Pathum Wan District, Bangkok 10330,
                    Thailand</p>
            </div>
            <div class="col-sm-4">
                <img src="{% static '/images/call.svg' %}" alt="" width="40">
                <p style="margin-top: 20px">Phone: 0-2218-6343</p>
            </div>
        </div>



        <div class="row">


            <div class="col-sm-6">

                <div class="elementor-element elementor-element-e9d848d elementor-widget elementor-widget-google_maps"
                    data-id="e9d848d" data-element_type="widget" data-widget_type="google_maps.default"
                    style="margin-top: 20px">
                    <div class="elementor-widget-container">
                        <div class="elementor-custom-embed">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?q=civil%20engineering%2C%20chulalongkorn%20university&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
                                aria-label="civil engineering, chulalongkorn university"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fceggechula%2F&tabs=messages&width=340&height=250&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"
                    width="340" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </center>
</div>


{% endblock %}