{% extends 'ce/base.html' %}

{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!--link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap carousel.css' %}"-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Research Highlights</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="{% static '/images/Research Highlights1.jpg' %}" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
            <h3>Forensic landslide investigration</h3>
            
          </div>
      </div>

      <div class="item">
        <img src="{% static '/images/Research Highlights2.jpg' %}" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
            <h3>Geotechnical Modelling of Vegetated Spil slope</h3>
            
          </div>
      </div>
    
      <div class="item">
        <img src="{% static '/images/Research Highlights3.jpg' %}" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
</a>
  </div>
</div>

</body>
</html>



<div class="row">
    <div class="col-sm-6">
        <h3></h3>
        <p>Centre of Excellence in Geotechnical and Geoenvironmental Engineering (CEGGE) at Chulalongkorn University was
            started in early 2016. The research activities are in the areas of geotechnical and geoenvironmental
            engineering including constitutive modeling for geomaterial, stress-strain characteristic of soils,
            numerical analysis in geomechanics, pavement engineering, ground improvement, geotechnical earthquake
            engineering and soil bioengineering.</p>

    </div>

    <div class="col-sm-6">

        <h3>Focus Areas</h3>

        <li>Numerical and analytical methods in geomechanics</li>
        <li> and underground excavation</li>
        <li> Unsaturated/Saturated constitutive soil models</li>
        <li>Soil dynamics and geotechnical earthquake engineering</li>
        <li>Ground improvement and soil stabilisation</li>
        <li> Rainfall induced landslide and slope stability analysis</li>
        <li> Reliability analysis in geotechnical engineering</li>
        <li> Pavement engineering and asphalt technology</li>
        <li>Construction and building materials</li>
        <li>Ground contamination and remediation</li>
        <li>Geophysics and underground survey</li>


    </div>
</div>
</div>
{% endblock %}