{% extends 'ce/base.html' %}

{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

    <div class="container" style="margin-top: 90px; background-color: #FFE5DF;">
        <center>

            <h1> &nbsp;Centre of Excellence in Geotechnical and Geoenvironmental Engineering (CEGGE)</h1>
&nbsp;
            <p>Centre of Excellence in Geotechnical and Geoenvironmental Engineering (CEGGE) at Chulalongkorn University was
                started in early 2016. The research activities are in the areas of geotechnical and geoenvironmental
                engineering including constitutive modeling for geomaterial, stress-strain characteristic of soils,
                numerical analysis in geomechanics, pavement engineering, ground improvement, geotechnical earthquake
                engineering and soil bioengineering.</p>


        </center>
      </div>

<div class="container" style="margin-top: 50px">
    <head>
        
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
        <link rel="stylesheet" href="{% static '/css/w3.css' %}">
        <style>
        .mySlides {display:none;}
        </style>
        </head>
        
        <body>
        
        <h2 class="w3-center">Research Highlights</h2>
        
        <div class="w3-content w3-section" style="max-width:100%">
          <img class="mySlides" src="{% static '/images/Highlight1.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight2.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight3.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight4.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight5.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight6.jpg' %}" style="width:100%">
          <img class="mySlides" src="{% static '/images/Highlight7.jpg' %}" style="width:100%">
        </div>
        
        <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        </script>

</div>


<div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-10">

        <h3>Focus Areas</h3>

        <li>Numerical and analytical methods in geomechanics</li>
        <li> and underground excavation</li>
        <li> Unsaturated/Saturated constitutive soil models</li>
        <li>Soil dynamics and geotechnical earthquake engineering</li>
        <li>Ground improvement and soil stabilisation</li>
        <li> Rainfall induced landslide and slope stability analysis</li>
        <li> Reliability analysis in geotechnical engineering</li>
        <li> Pavement engineering and asphalt technology</li>
        <li>Construction and building materials</li>
        <li>Ground contamination and remediation</li>
        <li>Geophysics and underground survey</li>


    </div>
</div>
</div>
{% endblock %}