{% extends 'ce\base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h2>Centre of Excellence in Geotechnical and Geoenvironmental Engineering</h2>
    <p>ศูนย์เชี่ยวชาญเฉพาะทางวิศวกรรมธรณีเทคนิคและธรณีสิ่งแวดล้อม<br></p>
    <p>CHULALONGKORN UNIVERSITY, BANGKOK, THAILAND </p>
</div>

<form method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="username">Email address:</label>
        <input type="text" class="form-control" placeholder="Enter email" id="username" name="username">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="password" name ="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>


{% endblock %}