{% extends 'ce/base.html' %}

{% block content %}

{% load static %}

<div class="container" style="margin-top: 80px; margin-bottom: 50px">

    <center>
        <h2>Centre of Excellence in Geotechnical and Geoenvironmental Engineering</h2>
    </center>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <center>                
                
                
                <img src="{% static '/images/AjSuched.jpg' %}"
                    width="150">

                <h3>Prof. Dr. Suched Likitlersuang</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </center>
        </div>
        <div class="col-sm-3">
            
            <img src="{% static '/images/AjTirawat.jpg' %}"
                    width="150">
            <h3>Assoc. Prof. Dr. Tirawat Boonyatee</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-3">
            

            <img src="{% static '/images/AjBoonchai.jpg' %}"
                    width="150">
            <h3>Assoc. Prof. Dr. Boonchai Ukritchon</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>

        <div class="col-sm-3">
            

            <img src="{% static '/images/AjVeerayut.jpg' %}"
                    width="150">
            <h3>Dr. Veerayut Komolvilas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>


    </div>
</div>


{% endblock %}