{% extends 'ce/base.html' %}

{% block content %}

{% load static %}

<div class="container" style="margin-top: 80px; margin-bottom: 50px">

    <center>
        <h2>Centre of Excellence in Geotechnical and Geoenvironmental Engineering</h2>
    </center>
</div>

<div class="container" style=" background-color: #FFE5DF;">
    <center>
        &nbsp;
        <h3 style="color: #e47a2e;">Principal Investigator </h3>
&nbsp;
    </center>
  </div>
<div class="container" style="margin-top: 80px; margin-bottom: 50px">
    <div class="row">
        <div class="col-sm-6">
            <center>                              
                <img src="{% static '/images/AjSuched.jpg' %}"
                    width="150">

                <h4>Prof. Dr. Suched Likitlersuang</h4>&nbsp;
              
            </center>
        </div>
        <div class="col-sm-6">
            <center>
            <img src="{% static '/images/AjTirawat.jpg' %}"
                    width="150">
            <h4>Assoc. Prof. Dr. Tirawat Boonyatee</h4>&nbsp;
     
        </center>
    </div>

        <div class="col-sm-6">      
            <center>      
            <img src="{% static '/images/AjBoonchai.jpg' %}"
                    width="150">
            <h4>Assoc. Prof. Dr. Boonchai Ukritchon</h4>&nbsp;
            </center>
        </div>

        <div class="col-sm-6">      
            <center>  
            <img src="{% static '/images/AjVeerayut.jpg' %}"
                    width="150">
            <h4>Dr. Veerayut Komolvilas</h4>&nbsp;
            </center>    
        </div>


    </div>
</div>


{% endblock %}